<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
	<title>Completions</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<table class="table table-striped">
	<tr>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Age</th>
	</tr>
	<tr th:each="maker : ${makers}">
		<td th:text="${maker.firstname}"></td>
		<td th:text="${maker.lastname}"></td>
		<td th:text="${maker.age}"></td>
		<td sec:authorize="hasAuthority('ADMIN')"> <button class ="btn btn-danger"><a th:href="@{/delete/{id}(id=${maker.makerId})}">Delete</a></button>
	</tr>
	</table>
	<button class="btn btn-success"><a style="color: black" href="/newprofile">Add maker</a></button>
	<button><a href="/puzzlelist">List of puzzles</a></button>
</body>
</html>