<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
	<title>Puzzles</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
	<h1>Puzzlelist</h1>
	</div>
	<div class="col-md-4" style="padding: 20px 0">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
	</form>
	</div>
	<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Manufacturer</th>
		<th>Pieces</th>
		<th>Price</th>
		<th>Difficulty</th>
	</tr>
	<tr th:each="puzzle : ${puzzles}">
		<td th:text="${puzzle.title}"></td>
		<td th:text="${puzzle.manufacturer}"></td>
		<td th:text="${puzzle.pieceNumber}"></td>
		<td th:text="${puzzle.price}"></td>
		<td th:text="${puzzle.difficultyLevel}"></td>
	<!-- 	<td> <button class ="btn btn-danger"><a th:href="@{/delete/{id}(id=${puzzle.ppId})}">Delete</a></button>
		-->
	</tr>
	</table>
	<button class="btn btn-success"><a style="color: black" href="/addpuzzle">Add Puzzle</a></button>
	<button class="btn btn-success"><a style="color: black" href="/listprofiles">Makers</a></button>
	<button><a href="/completionlist">List of completions</a></button>
</div>
</body>
</html>